problems_list.txt 
problems_overview.txt
problems_to_review.txt
test/add_fields_to_log.py
test/my_add_fields_to_log.py
.idea
test/test.py
Ads_Limit.json
test/Transactions.json
Notes/
test
env/
test.py

